---
layout: markdown_page
title: Product Stage Direction - Manage
description: "The Manage stage in GitLab delights business stakeholders and enables organizations to work more efficiently"
canonical_path: "/direction/manage/"
---

## On this page
{:.no_toc}

- TOC
{:toc}

<p align="center">
    <font size="+2">
        <b>Manage your GitLab workspace and view your DevOps adoption to increase efficiency and be compliant</b>
    </font>
</p>

<%= partial("direction/manage/templates/intro") %>

<%= devops_diagram(["Manage"]) %>

## Stage Overview

<%= partial("direction/manage/templates/overview") %>

## Our Groups

<%= partial("direction/manage/templates/groups") %>

### Access

<%= partial("direction/manage/auth/templates/overview") %>

### Workspace

<%= partial("direction/manage/workspace/templates/overview") %>

### Optimize

<%= partial("direction/manage/value_stream_management/templates/overview") %>

### Compliance

<%= partial("direction/manage/compliance/templates/overview") %>

### Import

<%= partial("direction/manage/importers/templates/overview") %>

## Vision

<%= partial("direction/manage/templates/themes") %>

## Goals for 2021

<%= partial("direction/manage/templates/goals") %>

## What's Next

### Access

<%= partial("direction/manage/auth/templates/next") %>

#### What we're not doing

* Improvements to user profiles and user management, as defined on the [Users direction page](https://about.gitlab.com/direction/manage/users/#users)

### Optimize

In pursuit of these goals, Optimize is currently focused on two initiatives:


* Value Stream Management:
<%= partial("direction/manage/devops-reports/templates/next") %>

* DevOps Reports:
<%= partial("direction/manage/value_stream_management/templates/next") %>

### Compliance

<%= partial("direction/manage/compliance/templates/next") %>

### Import

<%= partial("direction/manage/importers/templates/next") %>

#### What we're not doing

<%= partial("direction/manage/importers/templates/not_doing") %>

## Metrics

<%= partial("direction/manage/templates/metrics") %>

## How we operate

<%= partial("direction/manage/templates/operate") %>

<%= partial("direction/categories", :locals => { :stageKey => "manage" }) %>

## Pricing

<%= partial("direction/manage/templates/pricing") %>

## Upcoming Releases

<%= direction["all"]["all"] %>

<%= partial("direction/other", :locals => { :stage => "manage" }) %>

<p align="center">
    <i><br>
    Last Updated: 2021-08-16
    </br></i>
</p>
